# STA 220 Data & Web Technologies for Data Analysis

### Lecture 7, 1/30/24, Scraping

### Announcements
- HW 2 is online! 

### Today's topics
 - Web Scraping: 
     - Foodwise
     - Tornado Watch

### Ressources
 - [Foodwise](https://foodwise.org/)
 - [Tornado Watch](https://www.tornadohq.com/)

### Writing Scrapers

Lets scrape the wiki table ourselves. Attention: We are using request, so pay attention to the file that is being returned. Check on devtools the html element for `<thead>` and see what is returned in the network.

In [1]:
import requests
import lxml.html as lx
import pandas as pd

In [ ]:
result = requests.get(url = 'https://en.wikipedia.org/wiki/List_of_United_States_cities_by_area')
html = lx.fromstring(result.text)

In [3]:
result.text[:100]

'<!DOCTYPE html>\n<html class="client-nojs vector-feature-language-in-header-enabled vector-feature-la'

In [7]:
tables = html.xpath('//table[2]')
table = tables[0]

In [8]:
table.text_content()

'\n\n\nCity\n\nST\n\nLand area\n\nWater area\n\nTotal area\n\nPopulation(2020)\n\n\n(mi2)\n(km2)\n(mi2)\n(km2)\n(mi2)\n(km2)\n\n\n\n\xa0\n \n \n \n \n \n \n \n \n\n\nSitka\nAK\n2,870.1\n\n7,434\n1,945.1\n\n5,038\n4,815.1\n\n12,471\n8,458\n\n\nJuneau\nAK\n2,704.2\n\n7,004\n550.7\n\n1,426\n3,254.9\n\n8,430\n32,255\n\n\nWrangell\nAK\n2,556.1\n\n6,620\n920.6\n\n2,384\n3,476.7\n\n9,005\n2,127\n\n\nAnchorage\nAK\n1,707.0\n\n4,421\n239.7\n\n621\n1,946.7\n\n5,042\n291,247\n\n\nTribune[a]*\nKS\n778.2\n\n2,016\n0\n\n0\n778.2\n\n2,016\n1,182\n\n\nJacksonville\nFL\n747.3\n\n1,935\n127.2\n\n329\n874.5\n\n2,265\n949,611\n\n\nAnaconda\nMT\n736.7\n\n1,908\n4.7\n\n12\n741.4\n\n1,920\n9,421\n\n\nButte *\nMT\n715.8\n\n1,854\n0.6\n\n1.6\n716.3\n\n1,855\n34,494\n\n\nHouston\nTX\n640.6\n\n1,659\n31.2\n\n81\n671.8\n\n1,740\n2,304,580\n\n\nOklahoma City\nOK\n606.5\n\n1,571\n14.3\n\n37\n620.8\n\n1,608\n681,054\n\n\nPhoenix\nAZ\n518.3\n\n1,342\n1.0\n\n2.6\n519.3\n\n1,345\n1,608,139\n\n\nSan Antonio\nTX\n498.9\n\n1,292\n5.8\n\n15\n504.7\n\n1,307\n1,434,625\n\n\nNashville *\nTN\n475.6\n\n1,232\n21.6\n\n56\n497.2\n\n1,288\n689,447\n\n\nLos Angeles\nCA\n470.5\n\n1,219\n31.1\n\n81\n501.6\n\n1,299\n3,898,747\n\n\nStatenville[b]\nGA\n420.4\n\n1,089\n0.3\n\n0.78\n420.7\n\n1,090\n3,697\n\n\nSuffolk[c]**\nVA\n399.2\n\n1,034\n29.7\n\n77\n428.9\n\n1,111\n94,324\n\n\nBuckeye\nAZ\n394.8\n\n1,023\n0.2\n\n0.52\n395.0\n\n1,023\n91,502\n\n\nIndianapolis *\nIN\n361.0\n\n935\n6.9\n\n18\n367.9\n\n953\n887,642\n\n\nFort Worth\nTX\n350.3\n\n907\n8.3\n\n21\n358.6\n\n929\n918,915\n\n\nDallas\nTX\n339.7\n\n880\n44.0\n\n114\n383.7\n\n994\n1,304,379\n\n\nChesapeake[d]**\nVA\n338.5\n\n877\n12.5\n\n32\n350.9\n\n909\n249,422\n\n\nAustin\nTX\n326.4\n\n845\n6.6\n\n17\n332.9\n\n862\n961,855\n\n\nSan Diego\nCA\n326.1\n\n845\n46.3\n\n120\n372.4\n\n965\n1,386,932\n\n\nLouisville *\nKY\n324.5\n\n840\n16.5\n\n43\n341.0\n\n883\n633,045\n\n\nKansas City\nMO\n314.7\n\n815\n4.1\n\n11\n318.8\n\n826\n508,090\n\n\nCharlotte\nNC\n310.8\n\n805\n2.0\n\n5.2\n312.7\n\n810\n874,579\n\n\nAugusta *\nGA\n302.3\n\n783\n4.2\n\n11\n306.5\n\n794\n202,081\n\n\nNew York City\nNY\n300.5\n\n778\n172.0\n\n445\n472.4\n\n1,224\n8,804,190\n\n\nMemphis\nTN\n296.2\n\n767\n7.6\n\n20\n303.8\n\n787\n633,104\n\n\nLexington\nKY\n283.9\n\n735\n1.7\n\n4.4\n285.6\n\n740\n322,570\n\n\nEl Paso\nTX\n258.8\n\n670\n0.6\n\n1.6\n259.4\n\n672\n678,815\n\n\nMacon\nGA\n249.4\n\n646\n5.5\n\n14\n254.9\n\n660\n157,346\n\n\nCusseta\nGA\n248.7\n\n644\n2.4\n\n6.2\n251.2\n\n651\n9,565\n\n\nVirginia Beach[e]**\nVA\n244.7\n\n634\n252.8\n\n655\n497.5\n\n1,289\n459,470\n\n\nTucson\nAZ\n242.2\n\n627\n0.3\n\n0.78\n242.5\n\n628\n542,629\n\n\nChicago\nIL\n227.7\n\n590\n6.8\n\n18\n234.5\n\n607\n2,746,388\n\n\nHuntsville\nAL\n223.6\n\n579\n1.5\n\n3.9\n225.2\n\n583\n215,006\n\n\nColumbus\nOH\n220.7\n\n572\n5.9\n\n15\n226.6\n\n587\n905,748\n\n\nColumbus\nGA\n216.5\n\n561\n4.5\n\n12\n221.0\n\n572\n206,922\n\n\nValdez\nAK\n212.9\n\n551\n59.0\n\n153\n271.9\n\n704\n3,985\n\n\nPreston[f]\nGA\n209.7\n\n543\n0.9\n\n2.3\n210.6\n\n545\n2,348\n\n\nBoulder City\nNV\n208.3\n\n539\n0.0\n\n0\n208.3\n\n539\n14,885\n\n\nCalifornia City\nCA\n203.6\n\n527\n0.1\n\n0.26\n203.7\n\n528\n14,973\n\n\nColorado Springs\nCO\n201.9\n\n523\n0.4\n\n1.0\n202.2\n\n524\n478,961\n\n\nTulsa\nOK\n197.8\n\n512\n4.1\n\n11\n201.9\n\n523\n413,066\n\n\nGoodyear\nAZ\n191.3\n\n495\n0.0\n\n0\n191.3\n\n495\n95,294\n\n\nAlbuquerque\nNM\n187.3\n\n485\n1.7\n\n4.4\n188.9\n\n489\n564,559\n\n\nScottsdale\nAZ\n184.0\n\n477\n0.4\n\n1.0\n184.4\n\n478\n241,361\n\n\nHibbing\nMN\n182.0\n\n471\n4.4\n\n11\n186.5\n\n483\n16,214\n\n\nNorman\nOK\n178.6\n\n463\n10.5\n\n27\n189.2\n\n490\n128,026\n\n\nSan Jose\nCA\n177.9\n\n461\n3.1\n\n8.0\n181.1\n\n469\n1,013,240\n\n\nPeoria\nAZ\n176.7\n\n458\n3.2\n\n8.3\n179.9\n\n466\n190,985\n\n\nNew Orleans\nLA\n169.5\n\n439\n180.3\n\n467\n349.8\n\n906\n383,997\n\n\nAurora\nCO\n163.0\n\n422\n0.6\n\n1.6\n163.6\n\n424\n386,261\n\n\nWichita\nKS\n162.9\n\n422\n4.5\n\n12\n167.4\n\n434\n397,532\n\n\nCorpus Christi\nTX\n162.3\n\n420\n328.7\n\n851\n491.0\n\n1,272\n317,863\n\n\nMontgomery\nAL\n159.9\n\n414\n2.4\n\n6.2\n162.3\n\n420\n200,603\n\n\nDenver\nCO\n153.1\n\n397\n1.7\n\n4.4\n154.7\n\n401\n715,522\n\n\nSierra Vista\nAZ\n152.4\n\n395\n0.3\n\n0.78\n152.7\n\n395\n45,308\n\n\nGeorgetown\nGA\n151.2\n\n392\n9.3\n\n24\n160.6\n\n416\n2,235\n\n\nBakersfield\nCA\n150.3\n\n389\n1.5\n\n3.9\n151.7\n\n393\n403,455\n\n\nRaleigh\nNC\n149.4\n\n387\n1.1\n\n2.8\n150.5\n\n390\n467,665\n\n\nFayetteville\nNC\n148.3\n\n384\n1.8\n\n4.7\n150.1\n\n389\n208,501\n\n\nBirmingham\nAL\n147.1\n\n381\n2.5\n\n6.5\n149.6\n\n387\n200,733\n\n\nCarson City[g]**\nNV\n144.5\n\n374\n12.6\n\n33\n157.1\n\n407\n58,639\n\n\nOmaha\nNE\n143.0\n\n370\n3.6\n\n9.3\n146.6\n\n380\n486,051\n\n\nChattanooga\nTN\n142.4\n\n369\n7.7\n\n20\n150.1\n\n389\n181,099\n\n\nLubbock\nTX\n142.0\n\n368\n1.3\n\n3.4\n143.3\n\n371\n257,141\n\n\nLas Vegas\nNV\n141.9\n\n368\n0.1\n\n0.26\n141.9\n\n368\n641,903\n\n\nMesa\nAZ\n141.4\n\n366\n0.6\n\n1.6\n142.0\n\n368\n504,258\n\n\nMobile\nAL\n139.5\n\n361\n40.6\n\n105\n180.1\n\n466\n187,041\n\n\nBunnell\nFL\n139.4\n\n361\n0.1\n\n0.26\n139.5\n\n361\n3,276\n\n\nDetroit\nMI\n138.7\n\n359\n4.2\n\n11\n142.9\n\n370\n639,111\n\n\nColumbia\nSC\n138.3\n\n358\n2.9\n\n7.5\n141.1\n\n365\n136,632\n\n\nAtlanta\nGA\n135.3\n\n350\n1.1\n\n2.8\n136.3\n\n353\n498,715\n\n\nPhiladelphia\nPA\n134.4\n\n348\n8.3\n\n21\n142.7\n\n370\n1,603,797\n\n\nGreensboro\nNC\n133.9\n\n347\n5.2\n\n13\n139.1\n\n360\n299,035\n\n\nWinston-Salem\nNC\n133.6\n\n346\n1.2\n\n3.1\n134.8\n\n349\n249,545\n\n\nPortland\nOR\n133.5\n\n346\n11.5\n\n30\n145.0\n\n376\n652,503\n\n\nBrownsville\nTX\n131.8\n\n341\n13.7\n\n35\n145.5\n\n377\n186,738\n\n\nLynchburg\nTN\n129.2\n\n335\n1.2\n\n3.1\n130.4\n\n338\n6,461\n\n\nKansas City\nKS\n124.7\n\n323\n3.6\n\n9.3\n128.3\n\n332\n156,607\n\n\nFernley\nNV\n122.7\n\n318\n6.7\n\n17\n129.5\n\n335\n22,895\n\n\nMarana\nAZ\n121.1\n\n314\n0.7\n\n1.8\n121.8\n\n315\n51,908\n\n\nYuma\nAZ\n121.0\n\n313\n0.1\n\n0.26\n121.1\n\n314\n95,548\n\n\nHenderson\nNV\n120.5\n\n312\n0.5\n\n1.3\n121.0\n\n313\n317,610\n\n\nLittle Rock\nAR\n120.3\n\n312\n3.0\n\n7.8\n123.2\n\n319\n202,591\n\n\nPort St. Lucie\nFL\n119.2\n\n309\n1.6\n\n4.1\n120.8\n\n313\n204,851\n\n\nDurham\nNC\n116.8\n\n303\n0.8\n\n2.1\n117.6\n\n305\n283,506\n\n\nAthens *\nGA\n116.4\n\n301\n1.8\n\n4.7\n118.2\n\n306\n127,315\n\n\nFresno\nCA\n115.8\n\n300\n1.2\n\n3.1\n117.0\n\n303\n542,107\n\n\nCharleston\nSC\n115.1\n\n298\n20.7\n\n54\n135.7\n\n351\n150,227\n\n\nEloy\nAZ\n114.7\n\n297\n0.1\n\n0.26\n114.7\n\n297\n15,635\n\n\nHartsville\nTN\n114.3\n\n296\n2.3\n\n6.0\n116.6\n\n302\n11,615\n\n\nCasa Grande\nAZ\n113.8\n\n295\n0.0\n\n0\n113.8\n\n295\n53,658\n\n\nTampa\nFL\n113.6\n\n294\n63.6\n\n165\n177.2\n\n459\n384,959\n\n\nJackson\nMS\n111.7\n\n289\n2.1\n\n5.4\n113.8\n\n295\n153,701\n\n\nOrlando\nFL\n111.2\n\n288\n8.2\n\n21\n119.5\n\n310\n307,573\n\n\nSalt Lake City\nUT\n110.9\n\n287\n0.4\n\n1.0\n111.3\n\n288\n199,723\n\n\nFort Wayne\nIN\n110.6\n\n286\n0.3\n\n0.78\n111.0\n\n287\n263,886\n\n\nSurprise\nAZ\n110.5\n\n286\n0.2\n\n0.52\n110.7\n\n287\n143,148\n\n\nReno\nNV\n109.0\n\n282\n2.8\n\n7.3\n111.8\n\n290\n264,165\n\n\nSavannah\nGA\n108.9\n\n282\n4.8\n\n12\n113.7\n\n294\n147,780\n\n\nShreveport\nLA\n108.1\n\n280\n15.7\n\n41\n123.8\n\n321\n187,593\n\n\nLaredo\nTX\n106.8\n\n277\n1.5\n\n3.9\n108.3\n\n280\n255,205\n\n\nAbilene\nTX\n106.7\n\n276\n5.4\n\n14\n112.1\n\n290\n125,182\n\n\nCape Coral\nFL\n106.1\n\n275\n13.4\n\n35\n119.5\n\n310\n194,016\n\n\nPalmdale\nCA\n106.1\n\n275\n0.2\n\n0.52\n106.3\n\n275\n169,450\n\n\nBabbitt\nMN\n106.0\n\n275\n0.8\n\n2.1\n106.8\n\n277\n1,397\n\n\nNorth Las Vegas\nNV\n105.3\n\n273\n0.0\n\n0\n105.4\n\n273\n262,527\n\n\nAmarillo\nTX\n103.6\n\n268\n1.6\n\n4.1\n105.2\n\n272\n200,393\n\n\nRio Rancho\nNM\n103.4\n\n268\n0.3\n\n0.78\n103.6\n\n268\n104,046\n\n\nTallahassee\nFL\n102.4\n\n265\n2.9\n\n7.5\n105.3\n\n273\n196,169\n\n\nUnalaska\nAK\n102.2\n\n265\n108.7\n\n282\n210.9\n\n546\n4,254\n\n\nLincoln\nNE\n100.0\n\n259\n1.4\n\n3.6\n101.3\n\n262\n291,082\n\n\nClarksville\nTN\n99.7\n\n258\n0.7\n\n1.8\n100.4\n\n260\n166,722\n\n\nNorth Port\nFL\n99.4\n\n257\n4.8\n\n12\n104.2\n\n270\n74,793\n\n\nSt. Marys\nPA\n99.3\n\n257\n0.2\n\n0.52\n99.5\n\n258\n12,738\n\n\nNightmute\nAK\n99.0\n\n256\n5.4\n\n14\n104.4\n\n270\n306\n\n\nKnoxville\nTN\n98.7\n\n256\n5.5\n\n14\n104.3\n\n270\n190,740\n\n\nSacramento\nCA\n98.6\n\n255\n2.1\n\n5.4\n100.7\n\n261\n524,943\n\n\nDenton\nTX\n96.9\n\n251\n1.4\n\n3.6\n98.3\n\n255\n139,869\n\n\nMilwaukee\nWI\n96.2\n\n249\n0.6\n\n1.6\n96.8\n\n251\n577,222\n\n\nArlington\nTX\n95.8\n\n248\n3.6\n\n9.3\n99.4\n\n257\n394,266\n\n\nPalm Coast\nFL\n95.7\n\n248\n1.2\n\n3.1\n96.9\n\n251\n89,258\n\n\nPalm Springs\nCA\n94.5\n\n245\n0.1\n\n0.26\n94.7\n\n245\n44,575\n\n\nLancaster\nCA\n94.3\n\n244\n0.3\n\n0.78\n94.5\n\n245\n173,516\n\n\nSouth Fulton\nGA\n93.0\n\n241\n1.2\n\n3.1\n94.2\n\n244\n107,436\n\n\nWaco\nTX\n91.0\n\n236\n12.4\n\n32\n103.4\n\n268\n138,486\n\n\nDothan\nAL\n89.8\n\n233\n0.3\n\n0.78\n90.2\n\n234\n71,072\n\n\nDes Moines\nIA\n88.2\n\n228\n2.5\n\n6.5\n90.7\n\n235\n214,133\n\n\nBaton Rouge\nLA\n86.9\n\n225\n2.2\n\n5.7\n89.1\n\n231\n227,470\n\n\nPalm Bay\nFL\n86.7\n\n225\n3.2\n\n8.3\n89.9\n\n233\n119,760\n\n\nOak Ridge\nTN\n85.3\n\n221\n4.7\n\n12\n90.0\n\n233\n31,402\n\n\nBoise\nID\n84.6\n\n219\n1.0\n\n2.6\n85.5\n\n221\n235,684\n\n\nEdmond\nOK\n84.4\n\n219\n3.1\n\n8.0\n87.5\n\n227\n94,428\n\n\nSeattle\nWA\n84.0\n\n218\n58.1\n\n150\n142.1\n\n368\n737,015\n\n\nSpringfield\nMO\n83.2\n\n215\n0.6\n\n1.6\n83.8\n\n217\n169,176\n\n\nCoolidge\nAZ\n83.1\n\n215\n0.2\n\n0.52\n83.3\n\n216\n13,218\n\n\nMadison\nWI\n83.1\n\n215\n21.4\n\n55\n104.5\n\n271\n269,840\n\n\nSioux Falls\nSD\n82.7\n\n214\n0.5\n\n1.3\n83.2\n\n215\n192,517\n\n\nBeaumont\nTX\n82.1\n\n213\n2.8\n\n7.3\n84.9\n\n220\n115,282\n\n\nLawton\nOK\n81.4\n\n211\n0.0\n\n0\n81.5\n\n211\n90,381\n\n\nRiverside\nCA\n81.1\n\n210\n0.3\n\n0.78\n81.5\n\n211\n314,998\n\n\nBaltimore **\nMD\n80.9\n\n210\n11.1\n\n29\n92.1\n\n239\n585,708\n\n\nToledo\nOH\n80.5\n\n208\n3.3\n\n8.5\n83.8\n\n217\n270,871\n\n\nJonesboro\nAR\n80.2\n\n208\n0.6\n\n1.6\n80.7\n\n209\n78,576\n\n\nEl Reno\nOK\n79.6\n\n206\n0.6\n\n1.6\n80.2\n\n208\n16,989\n\n\nCaribou\nME\n79.3\n\n205\n0.8\n\n2.1\n80.1\n\n207\n7,396\n\n\nEllsworth\nME\n79.3\n\n205\n14.6\n\n38\n93.9\n\n243\n8,399\n'

In [13]:
html.xpath('//*[@id="mw-content-text"]/div[1]/table[2]/thead')

[]

In [22]:
html.xpath('//table[2]/tbody/tr[4]//text()')

['\n',
 'Sitka',
 '\n',
 'AK',
 '\n',
 '2,870.1\n',
 '\n',
 '7,434',
 '\n',
 '1,945.1\n',
 '\n',
 '5,038',
 '\n',
 '4,815.1\n',
 '\n',
 '12,471',
 '\n',
 '8,458\n']

In [23]:
def retrieve_rows(html): 
    rows = html.xpath('//table[2]/tbody/tr')
    cells = []
    for row in rows: 
        # ./td|th means we start at the node (not searching the whole doc again), and choose td OR th children
        cells.append([cell.text_content() for cell in row.xpath('./td|th')]) # no text, as some cells are in <b>
    return cells

In [24]:
retrieve_rows(html)

[['City\n',
  'ST\n',
  'Land area\n',
  'Water area\n',
  'Total area\n',
  'Population(2020)\n'],
 ['(mi2)', '(km2)', '(mi2)', '(km2)', '(mi2)', '(km2)\n'],
 ['\xa0', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' \n'],
 ['Sitka',
  'AK',
  '2,870.1\n',
  '7,434',
  '1,945.1\n',
  '5,038',
  '4,815.1\n',
  '12,471',
  '8,458\n'],
 ['Juneau',
  'AK',
  '2,704.2\n',
  '7,004',
  '550.7\n',
  '1,426',
  '3,254.9\n',
  '8,430',
  '32,255\n'],
 ['Wrangell',
  'AK',
  '2,556.1\n',
  '6,620',
  '920.6\n',
  '2,384',
  '3,476.7\n',
  '9,005',
  '2,127\n'],
 ['Anchorage',
  'AK',
  '1,707.0\n',
  '4,421',
  '239.7\n',
  '621',
  '1,946.7\n',
  '5,042',
  '291,247\n'],
 ['Tribune[a]*',
  'KS',
  '778.2\n',
  '2,016',
  '0\n',
  '0',
  '778.2\n',
  '2,016',
  '1,182\n'],
 ['Jacksonville',
  'FL',
  '747.3\n',
  '1,935',
  '127.2\n',
  '329',
  '874.5\n',
  '2,265',
  '949,611\n'],
 ['Anaconda',
  'MT',
  '736.7\n',
  '1,908',
  '4.7\n',
  '12',
  '741.4\n',
  '1,920',
  '9,421\n'],
 ['Butte *',
  'MT',
  '715.8\n',
  '1,854',
  '0.6\n',
  '1.6',
  '716.3\n',
  '1,855',
  '34,494\n'],
 ['Houston',
  'TX',
  '640.6\n',
  '1,659',
  '31.2\n',
  '81',
  '671.8\n',
  '1,740',
  '2,304,580\n'],
 ['Oklahoma City',
  'OK',
  '606.5\n',
  '1,571',
  '14.3\n',
  '37',
  '620.8\n',
  '1,608',
  '681,054\n'],
 ['Phoenix',
  'AZ',
  '518.3\n',
  '1,342',
  '1.0\n',
  '2.6',
  '519.3\n',
  '1,345',
  '1,608,139\n'],
 ['San Antonio',
  'TX',
  '498.9\n',
  '1,292',
  '5.8\n',
  '15',
  '504.7\n',
  '1,307',
  '1,434,625\n'],
 ['Nashville *',
  'TN',
  '475.6\n',
  '1,232',
  '21.6\n',
  '56',
  '497.2\n',
  '1,288',
  '689,447\n'],
 ['Los Angeles',
  'CA',
  '470.5\n',
  '1,219',
  '31.1\n',
  '81',
  '501.6\n',
  '1,299',
  '3,898,747\n'],
 ['Statenville[b]',
  'GA',
  '420.4\n',
  '1,089',
  '0.3\n',
  '0.78',
  '420.7\n',
  '1,090',
  '3,697\n'],
 ['Suffolk[c]**',
  'VA',
  '399.2\n',
  '1,034',
  '29.7\n',
  '77',
  '428.9\n',
  '1,111',
  '94,324\n'],
 ['Buckeye',
  'AZ',
  '394.8\n',
  '1,023',
  '0.2\n',
  '0.52',
  '395.0\n',
  '1,023',
  '91,502\n'],
 ['Indianapolis *',
  'IN',
  '361.0\n',
  '935',
  '6.9\n',
  '18',
  '367.9\n',
  '953',
  '887,642\n'],
 ['Fort Worth',
  'TX',
  '350.3\n',
  '907',
  '8.3\n',
  '21',
  '358.6\n',
  '929',
  '918,915\n'],
 ['Dallas',
  'TX',
  '339.7\n',
  '880',
  '44.0\n',
  '114',
  '383.7\n',
  '994',
  '1,304,379\n'],
 ['Chesapeake[d]**',
  'VA',
  '338.5\n',
  '877',
  '12.5\n',
  '32',
  '350.9\n',
  '909',
  '249,422\n'],
 ['Austin',
  'TX',
  '326.4\n',
  '845',
  '6.6\n',
  '17',
  '332.9\n',
  '862',
  '961,855\n'],
 ['San Diego',
  'CA',
  '326.1\n',
  '845',
  '46.3\n',
  '120',
  '372.4\n',
  '965',
  '1,386,932\n'],
 ['Louisville *',
  'KY',
  '324.5\n',
  '840',
  '16.5\n',
  '43',
  '341.0\n',
  '883',
  '633,045\n'],
 ['Kansas City',
  'MO',
  '314.7\n',
  '815',
  '4.1\n',
  '11',
  '318.8\n',
  '826',
  '508,090\n'],
 ['Charlotte',
  'NC',
  '310.8\n',
  '805',
  '2.0\n',
  '5.2',
  '312.7\n',
  '810',
  '874,579\n'],
 ['Augusta *',
  'GA',
  '302.3\n',
  '783',
  '4.2\n',
  '11',
  '306.5\n',
  '794',
  '202,081\n'],
 ['New York City',
  'NY',
  '300.5\n',
  '778',
  '172.0\n',
  '445',
  '472.4\n',
  '1,224',
  '8,804,190\n'],
 ['Memphis',
  'TN',
  '296.2\n',
  '767',
  '7.6\n',
  '20',
  '303.8\n',
  '787',
  '633,104\n'],
 ['Lexington',
  'KY',
  '283.9\n',
  '735',
  '1.7\n',
  '4.4',
  '285.6\n',
  '740',
  '322,570\n'],
 ['El Paso',
  'TX',
  '258.8\n',
  '670',
  '0.6\n',
  '1.6',
  '259.4\n',
  '672',
  '678,815\n'],
 ['Macon',
  'GA',
  '249.4\n',
  '646',
  '5.5\n',
  '14',
  '254.9\n',
  '660',
  '157,346\n'],
 ['Cusseta',
  'GA',
  '248.7\n',
  '644',
  '2.4\n',
  '6.2',
  '251.2\n',
  '651',
  '9,565\n'],
 ['Virginia Beach[e]**',
  'VA',
  '244.7\n',
  '634',
  '252.8\n',
  '655',
  '497.5\n',
  '1,289',
  '459,470\n'],
 ['Tucson',
  'AZ',
  '242.2\n',
  '627',
  '0.3\n',
  '0.78',
  '242.5\n',
  '628',
  '542,629\n'],
 ['Chicago',
  'IL',
  '227.7\n',
  '590',
  '6.8\n',
  '18',
  '234.5\n',
  '607',
  '2,746,388\n'],
 ['Huntsville',
  'AL',
  '223.6\n',
  '579',
  '1.5\n',
  '3.9',
  '225.2\n',
  '583',
  '215,006\n'],
 ['Columbus',
  'OH',
  '220.7\n',
  '572',
  '5.9\n',
  '15',
  '226.6\n',
  '587',
  '905,748\n'],
 ['Columbus',
  'GA',
  '216.5\n',
  '561',
  '4.5\n',
  '12',
  '221.0\n',
  '572',
  '206,922\n'],
 ['Valdez',
  'AK',
  '212.9\n',
  '551',
  '59.0\n',
  '153',
  '271.9\n',
  '704',
  '3,985\n'],
 ['Preston[f]',
  'GA',
  '209.7\n',
  '543',
  '0.9\n',
  '2.3',
  '210.6\n',
  '545',
  '2,348\n'],
 ['Boulder City',
  'NV',
  '208.3\n',
  '539',
  '0.0\n',
  '0',
  '208.3\n',
  '539',
  '14,885\n'],
 ['California City',
  'CA',
  '203.6\n',
  '527',
  '0.1\n',
  '0.26',
  '203.7\n',
  '528',
  '14,973\n'],
 ['Colorado Springs',
  'CO',
  '201.9\n',
  '523',
  '0.4\n',
  '1.0',
  '202.2\n',
  '524',
  '478,961\n'],
 ['Tulsa',
  'OK',
  '197.8\n',
  '512',
  '4.1\n',
  '11',
  '201.9\n',
  '523',
  '413,066\n'],
 ['Goodyear',
  'AZ',
  '191.3\n',
  '495',
  '0.0\n',
  '0',
  '191.3\n',
  '495',
  '95,294\n'],
 ['Albuquerque',
  'NM',
  '187.3\n',
  '485',
  '1.7\n',
  '4.4',
  '188.9\n',
  '489',
  '564,559\n'],
 ['Scottsdale',
  'AZ',
  '184.0\n',
  '477',
  '0.4\n',
  '1.0',
  '184.4\n',
  '478',
  '241,361\n'],
 ['Hibbing',
  'MN',
  '182.0\n',
  '471',
  '4.4\n',
  '11',
  '186.5\n',
  '483',
  '16,214\n'],
 ['Norman',
  'OK',
  '178.6\n',
  '463',
  '10.5\n',
  '27',
  '189.2\n',
  '490',
  '128,026\n'],
 ['San Jose',
  'CA',
  '177.9\n',
  '461',
  '3.1\n',
  '8.0',
  '181.1\n',
  '469',
  '1,013,240\n'],
 ['Peoria',
  'AZ',
  '176.7\n',
  '458',
  '3.2\n',
  '8.3',
  '179.9\n',
  '466',
  '190,985\n'],
 ['New Orleans',
  'LA',
  '169.5\n',
  '439',
  '180.3\n',
  '467',
  '349.8\n',
  '906',
  '383,997\n'],
 ['Aurora',
  'CO',
  '163.0\n',
  '422',
  '0.6\n',
  '1.6',
  '163.6\n',
  '424',
  '386,261\n'],
 ['Wichita',
  'KS',
  '162.9\n',
  '422',
  '4.5\n',
  '12',
  '167.4\n',
  '434',
  '397,532\n'],
 ['Corpus Christi',
  'TX',
  '162.3\n',
  '420',
  '328.7\n',
  '851',
  '491.0\n',
  '1,272',
  '317,863\n'],
 ['Montgomery',
  'AL',
  '159.9\n',
  '414',
  '2.4\n',
  '6.2',
  '162.3\n',
  '420',
  '200,603\n'],
 ['Denver',
  'CO',
  '153.1\n',
  '397',
  '1.7\n',
  '4.4',
  '154.7\n',
  '401',
  '715,522\n'],
 ['Sierra Vista',
  'AZ',
  '152.4\n',
  '395',
  '0.3\n',
  '0.78',
  '152.7\n',
  '395',
  '45,308\n'],
 ['Georgetown',
  'GA',
  '151.2\n',
  '392',
  '9.3\n',
  '24',
  '160.6\n',
  '416',
  '2,235\n'],
 ['Bakersfield',
  'CA',
  '150.3\n',
  '389',
  '1.5\n',
  '3.9',
  '151.7\n',
  '393',
  '403,455\n'],
 ['Raleigh',
  'NC',
  '149.4\n',
  '387',
  '1.1\n',
  '2.8',
  '150.5\n',
  '390',
  '467,665\n'],
 ['Fayetteville',
  'NC',
  '148.3\n',
  '384',
  '1.8\n',
  '4.7',
  '150.1\n',
  '389',
  '208,501\n'],
 ['Birmingham',
  'AL',
  '147.1\n',
  '381',
  '2.5\n',
  '6.5',
  '149.6\n',
  '387',
  '200,733\n'],
 ['Carson City[g]**',
  'NV',
  '144.5\n',
  '374',
  '12.6\n',
  '33',
  '157.1\n',
  '407',
  '58,639\n'],
 ['Omaha',
  'NE',
  '143.0\n',
  '370',
  '3.6\n',
  '9.3',
  '146.6\n',
  '380',
  '486,051\n'],
 ['Chattanooga',
  'TN',
  '142.4\n',
  '369',
  '7.7\n',
  '20',
  '150.1\n',
  '389',
  '181,099\n'],
 ['Lubbock',
  'TX',
  '142.0\n',
  '368',
  '1.3\n',
  '3.4',
  '143.3\n',
  '371',
  '257,141\n'],
 ['Las Vegas',
  'NV',
  '141.9\n',
  '368',
  '0.1\n',
  '0.26',
  '141.9\n',
  '368',
  '641,903\n'],
 ['Mesa',
  'AZ',
  '141.4\n',
  '366',
  '0.6\n',
  '1.6',
  '142.0\n',
  '368',
  '504,258\n'],
 ['Mobile',
  'AL',
  '139.5\n',
  '361',
  '40.6\n',
  '105',
  '180.1\n',
  '466',
  '187,041\n'],
 ['Bunnell',
  'FL',
  '139.4\n',
  '361',
  '0.1\n',
  '0.26',
  '139.5\n',
  '361',
  '3,276\n'],
 ['Detroit',
  'MI',
  '138.7\n',
  '359',
  '4.2\n',
  '11',
  '142.9\n',
  '370',
  '639,111\n'],
 ['Columbia',
  'SC',
  '138.3\n',
  '358',
  '2.9\n',
  '7.5',
  '141.1\n',
  '365',
  '136,632\n'],
 ['Atlanta',
  'GA',
  '135.3\n',
  '350',
  '1.1\n',
  '2.8',
  '136.3\n',
  '353',
  '498,715\n'],
 ['Philadelphia',
  'PA',
  '134.4\n',
  '348',
  '8.3\n',
  '21',
  '142.7\n',
  '370',
  '1,603,797\n'],
 ['Greensboro',
  'NC',
  '133.9\n',
  '347',
  '5.2\n',
  '13',
  '139.1\n',
  '360',
  '299,035\n'],
 ['Winston-Salem',
  'NC',
  '133.6\n',
  '346',
  '1.2\n',
  '3.1',
  '134.8\n',
  '349',
  '249,545\n'],
 ['Portland',
  'OR',
  '133.5\n',
  '346',
  '11.5\n',
  '30',
  '145.0\n',
  '376',
  '652,503\n'],
 ['Brownsville',
  'TX',
  '131.8\n',
  '341',
  '13.7\n',
  '35',
  '145.5\n',
  '377',
  '186,738\n'],
 ['Lynchburg',
  'TN',
  '129.2\n',
  '335',
  '1.2\n',
  '3.1',
  '130.4\n',
  '338',
  '6,461\n'],
 ['Kansas City',
  'KS',
  '124.7\n',
  '323',
  '3.6\n',
  '9.3',
  '128.3\n',
  '332',
  '156,607\n'],
 ['Fernley',
  'NV',
  '122.7\n',
  '318',
  '6.7\n',
  '17',
  '129.5\n',
  '335',
  '22,895\n'],
 ['Marana',
  'AZ',
  '121.1\n',
  '314',
  '0.7\n',
  '1.8',
  '121.8\n',
  '315',
  '51,908\n'],
 ['Yuma',
  'AZ',
  '121.0\n',
  '313',
  '0.1\n',
  '0.26',
  '121.1\n',
  '314',
  '95,548\n'],
 ['Henderson',
  'NV',
  '120.5\n',
  '312',
  '0.5\n',
  '1.3',
  '121.0\n',
  '313',
  '317,610\n'],
 ['Little Rock',
  'AR',
  '120.3\n',
  '312',
  '3.0\n',
  '7.8',
  '123.2\n',
  '319',
  '202,591\n'],
 ['Port St. Lucie',
  'FL',
  '119.2\n',
  '309',
  '1.6\n',
  '4.1',
  '120.8\n',
  '313',
  '204,851\n'],
 ['Durham',
  'NC',
  '116.8\n',
  '303',
  '0.8\n',
  '2.1',
  '117.6\n',
  '305',
  '283,506\n'],
 ['Athens *',
  'GA',
  '116.4\n',
  '301',
  '1.8\n',
  '4.7',
  '118.2\n',
  '306',
  '127,315\n'],
 ['Fresno',
  'CA',
  '115.8\n',
  '300',
  '1.2\n',
  '3.1',
  '117.0\n',
  '303',
  '542,107\n'],
 ['Charleston',
  'SC',
  '115.1\n',
  '298',
  '20.7\n',
  '54',
  '135.7\n',
  '351',
  '150,227\n'],
 ['Eloy',
  'AZ',
  '114.7\n',
  '297',
  '0.1\n',
  '0.26',
  '114.7\n',
  '297',
  '15,635\n'],
 ['Hartsville',
  'TN',
  '114.3\n',
  '296',
  '2.3\n',
  '6.0',
  '116.6\n',
  '302',
  '11,615\n'],
 ['Casa Grande',
  'AZ',
  '113.8\n',
  '295',
  '0.0\n',
  '0',
  '113.8\n',
  '295',
  '53,658\n'],
 ['Tampa',
  'FL',
  '113.6\n',
  '294',
  '63.6\n',
  '165',
  '177.2\n',
  '459',
  '384,959\n'],
 ['Jackson',
  'MS',
  '111.7\n',
  '289',
  '2.1\n',
  '5.4',
  '113.8\n',
  '295',
  '153,701\n'],
 ['Orlando',
  'FL',
  '111.2\n',
  '288',
  '8.2\n',
  '21',
  '119.5\n',
  '310',
  '307,573\n'],
 ['Salt Lake City',
  'UT',
  '110.9\n',
  '287',
  '0.4\n',
  '1.0',
  '111.3\n',
  '288',
  '199,723\n'],
 ['Fort Wayne',
  'IN',
  '110.6\n',
  '286',
  '0.3\n',
  '0.78',
  '111.0\n',
  '287',
  '263,886\n'],
 ['Surprise',
  'AZ',
  '110.5\n',
  '286',
  '0.2\n',
  '0.52',
  '110.7\n',
  '287',
  '143,148\n'],
 ['Reno',
  'NV',
  '109.0\n',
  '282',
  '2.8\n',
  '7.3',
  '111.8\n',
  '290',
  '264,165\n'],
 ['Savannah',
  'GA',
  '108.9\n',
  '282',
  '4.8\n',
  '12',
  '113.7\n',
  '294',
  '147,780\n'],
 ['Shreveport',
  'LA',
  '108.1\n',
  '280',
  '15.7\n',
  '41',
  '123.8\n',
  '321',
  '187,593\n'],
 ['Laredo',
  'TX',
  '106.8\n',
  '277',
  '1.5\n',
  '3.9',
  '108.3\n',
  '280',
  '255,205\n'],
 ['Abilene',
  'TX',
  '106.7\n',
  '276',
  '5.4\n',
  '14',
  '112.1\n',
  '290',
  '125,182\n'],
 ['Cape Coral',
  'FL',
  '106.1\n',
  '275',
  '13.4\n',
  '35',
  '119.5\n',
  '310',
  '194,016\n'],
 ['Palmdale',
  'CA',
  '106.1\n',
  '275',
  '0.2\n',
  '0.52',
  '106.3\n',
  '275',
  '169,450\n'],
 ['Babbitt',
  'MN',
  '106.0\n',
  '275',
  '0.8\n',
  '2.1',
  '106.8\n',
  '277',
  '1,397\n'],
 ['North Las Vegas',
  'NV',
  '105.3\n',
  '273',
  '0.0\n',
  '0',
  '105.4\n',
  '273',
  '262,527\n'],
 ['Amarillo',
  'TX',
  '103.6\n',
  '268',
  '1.6\n',
  '4.1',
  '105.2\n',
  '272',
  '200,393\n'],
 ['Rio Rancho',
  'NM',
  '103.4\n',
  '268',
  '0.3\n',
  '0.78',
  '103.6\n',
  '268',
  '104,046\n'],
 ['Tallahassee',
  'FL',
  '102.4\n',
  '265',
  '2.9\n',
  '7.5',
  '105.3\n',
  '273',
  '196,169\n'],
 ['Unalaska',
  'AK',
  '102.2\n',
  '265',
  '108.7\n',
  '282',
  '210.9\n',
  '546',
  '4,254\n'],
 ['Lincoln',
  'NE',
  '100.0\n',
  '259',
  '1.4\n',
  '3.6',
  '101.3\n',
  '262',
  '291,082\n'],
 ['Clarksville',
  'TN',
  '99.7\n',
  '258',
  '0.7\n',
  '1.8',
  '100.4\n',
  '260',
  '166,722\n'],
 ['North Port',
  'FL',
  '99.4\n',
  '257',
  '4.8\n',
  '12',
  '104.2\n',
  '270',
  '74,793\n'],
 ['St. Marys',
  'PA',
  '99.3\n',
  '257',
  '0.2\n',
  '0.52',
  '99.5\n',
  '258',
  '12,738\n'],
 ['Nightmute',
  'AK',
  '99.0\n',
  '256',
  '5.4\n',
  '14',
  '104.4\n',
  '270',
  '306\n'],
 ['Knoxville',
  'TN',
  '98.7\n',
  '256',
  '5.5\n',
  '14',
  '104.3\n',
  '270',
  '190,740\n'],
 ['Sacramento',
  'CA',
  '98.6\n',
  '255',
  '2.1\n',
  '5.4',
  '100.7\n',
  '261',
  '524,943\n'],
 ['Denton',
  'TX',
  '96.9\n',
  '251',
  '1.4\n',
  '3.6',
  '98.3\n',
  '255',
  '139,869\n'],
 ['Milwaukee',
  'WI',
  '96.2\n',
  '249',
  '0.6\n',
  '1.6',
  '96.8\n',
  '251',
  '577,222\n'],
 ['Arlington',
  'TX',
  '95.8\n',
  '248',
  '3.6\n',
  '9.3',
  '99.4\n',
  '257',
  '394,266\n'],
 ['Palm Coast',
  'FL',
  '95.7\n',
  '248',
  '1.2\n',
  '3.1',
  '96.9\n',
  '251',
  '89,258\n'],
 ['Palm Springs',
  'CA',
  '94.5\n',
  '245',
  '0.1\n',
  '0.26',
  '94.7\n',
  '245',
  '44,575\n'],
 ['Lancaster',
  'CA',
  '94.3\n',
  '244',
  '0.3\n',
  '0.78',
  '94.5\n',
  '245',
  '173,516\n'],
 ['South Fulton',
  'GA',
  '93.0\n',
  '241',
  '1.2\n',
  '3.1',
  '94.2\n',
  '244',
  '107,436\n'],
 ['Waco',
  'TX',
  '91.0\n',
  '236',
  '12.4\n',
  '32',
  '103.4\n',
  '268',
  '138,486\n'],
 ['Dothan',
  'AL',
  '89.8\n',
  '233',
  '0.3\n',
  '0.78',
  '90.2\n',
  '234',
  '71,072\n'],
 ['Des Moines',
  'IA',
  '88.2\n',
  '228',
  '2.5\n',
  '6.5',
  '90.7\n',
  '235',
  '214,133\n'],
 ['Baton Rouge',
  'LA',
  '86.9\n',
  '225',
  '2.2\n',
  '5.7',
  '89.1\n',
  '231',
  '227,470\n'],
 ['Palm Bay',
  'FL',
  '86.7\n',
  '225',
  '3.2\n',
  '8.3',
  '89.9\n',
  '233',
  '119,760\n'],
 ['Oak Ridge',
  'TN',
  '85.3\n',
  '221',
  '4.7\n',
  '12',
  '90.0\n',
  '233',
  '31,402\n'],
 ['Boise',
  'ID',
  '84.6\n',
  '219',
  '1.0\n',
  '2.6',
  '85.5\n',
  '221',
  '235,684\n'],
 ['Edmond',
  'OK',
  '84.4\n',
  '219',
  '3.1\n',
  '8.0',
  '87.5\n',
  '227',
  '94,428\n'],
 ['Seattle',
  'WA',
  '84.0\n',
  '218',
  '58.1\n',
  '150',
  '142.1\n',
  '368',
  '737,015\n'],
 ['Springfield',
  'MO',
  '83.2\n',
  '215',
  '0.6\n',
  '1.6',
  '83.8\n',
  '217',
  '169,176\n'],
 ['Coolidge',
  'AZ',
  '83.1\n',
  '215',
  '0.2\n',
  '0.52',
  '83.3\n',
  '216',
  '13,218\n'],
 ['Madison',
  'WI',
  '83.1\n',
  '215',
  '21.4\n',
  '55',
  '104.5\n',
  '271',
  '269,840\n'],
 ['Sioux Falls',
  'SD',
  '82.7\n',
  '214',
  '0.5\n',
  '1.3',
  '83.2\n',
  '215',
  '192,517\n'],
 ['Beaumont',
  'TX',
  '82.1\n',
  '213',
  '2.8\n',
  '7.3',
  '84.9\n',
  '220',
  '115,282\n'],
 ['Lawton', 'OK', '81.4\n', '211', '0.0\n', '0', '81.5\n', '211', '90,381\n'],
 ['Riverside',
  'CA',
  '81.1\n',
  '210',
  '0.3\n',
  '0.78',
  '81.5\n',
  '211',
  '314,998\n'],
 ['Baltimore **',
  'MD',
  '80.9\n',
  '210',
  '11.1\n',
  '29',
  '92.1\n',
  '239',
  '585,708\n'],
 ['Toledo',
  'OH',
  '80.5\n',
  '208',
  '3.3\n',
  '8.5',
  '83.8\n',
  '217',
  '270,871\n'],
 ['Jonesboro',
  'AR',
  '80.2\n',
  '208',
  '0.6\n',
  '1.6',
  '80.7\n',
  '209',
  '78,576\n'],
 ['El Reno',
  'OK',
  '79.6\n',
  '206',
  '0.6\n',
  '1.6',
  '80.2\n',
  '208',
  '16,989\n'],
 ['Caribou',
  'ME',
  '79.3\n',
  '205',
  '0.8\n',
  '2.1',
  '80.1\n',
  '207',
  '7,396\n'],
 ['Ellsworth',
  'ME',
  '79.3\n',
  '205',
  '14.6\n',
  '38',
  '93.9\n',
  '243',
  '8,399\n']]

In [26]:
df = pd.DataFrame(retrieve_rows(html))
df.head(10)

,0,1,2,3,4,5,6,7,8
0,City\n,ST\n,Land area\n,Water area\n,Total area\n,Population(2020)\n,None,None,None
1,(mi2),(km2),(mi2),(km2),(mi2),(km2)\n,None,None,None
2,,,,,,,,,\n
3,Sitka,AK,"2,870.1\n","7,434","1,945.1\n","5,038","4,815.1\n","12,471","8,458\n"
4,Juneau,AK,"2,704.2\n","7,004",550.7\n,"1,426","3,254.9\n","8,430","32,255\n"
5,Wrangell,AK,"2,556.1\n","6,620",920.6\n,"2,384","3,476.7\n","9,005","2,127\n"
6,Anchorage,AK,"1,707.0\n","4,421",239.7\n,621,"1,946.7\n","5,042","291,247\n"
7,Tribune[a]*,KS,778.2\n,"2,016",0\n,0,778.2\n,"2,016","1,182\n"
8,Jacksonville,FL,747.3\n,"1,935",127.2\n,329,874.5\n,"2,265","949,611\n"
9,Anaconda,MT,736.7\n,"1,908",4.7\n,12,741.4\n,"1,920","9,421\n"

### Example: Foodwise

Foodwise, formerly CUESA (Center for Urban Education about Sustainable Agriculture) provides [a chart](https://foodwise.org/eat-seasonally/seasonality-chart-vegetables/) on when certain vegetables are in season. We want to create this chart for ourselves. All the info we need is on `foodwise`, so lets scrape!

First, observe that the search mask (Food type, Month) invokes an API. However, the params are complicated to assemble, also, the returned object is an html. So we have to scrape the html. First check, using devtools, that the desired information is returned by the API (under `doc`).

In [46]:
import requests
import lxml.html as lx
import requests_cache
import time
requests_cache.install_cache("lecture10")

In [47]:
url = "https://foodwise.org/eat-seasonally/seasonality-charts/?_food_type=vegetable"

In [48]:
headers = {
    'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/106.0.0.0 Safari/537.36'
}

Here, the server needs the `user-agent` key in the header.

In [49]:
response = requests.get(url, headers = headers)
response.raise_for_status()

In [50]:
response.text[:100]

'<!doctype html>\n<html lang="en-US">\n<head>\n\t<meta charset="UTF-8">\n\t<meta name="viewport" content="w'

##### First approach

In [55]:
url = "https://foodwise.org/foods/artichokes/"
response = requests.get(url)

In [56]:
response.raise_for_status()

In [53]:
response.text # works after executed chunk below, as we use cache

'<html>\r\n<head><title>403 Forbidden</title></head>\r\n<body>\r\n<center><h1>403 Forbidden</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n'

We have to provide the correct header!

In [54]:
response = requests.get(url, headers = headers)
response.raise_for_status

In [57]:
response.text[:100]

'<!doctype html>\n<html lang="en-US">\n<head>\n\t<meta charset="UTF-8">\n\t<meta name="viewport" content="w'

In [58]:
html = lx.fromstring(response.text) # Parse the HTML
html

In [68]:
html.xpath('//section[@class="sidebar__section"][h2[contains(text(), "In Season")]]/text()')[1]

'\n                    March • April • May • June • September • October • November • December            '

In [69]:
string = html.xpath('//section[@class="sidebar__section"][h2[contains(text(), "In Season")]]/text()')[1]
string

'\n                    March • April • May • June • September • October • November • December            '

In [70]:
from re import sub
sub(r'\W', ' ', string).split() # we are going to talk about RegEx some other time

['March',
 'April',
 'May',
 'June',
 'September',
 'October',
 'November',
 'December']

In [71]:
def get_months(produce): 
    time.sleep(0.05)
    url = "https://foodwise.org/foods/" + produce + "/"
    response = requests.get(url, headers = headers)
    response.raise_for_status()
    html = lx.fromstring(response.text)
    string = html.xpath('//section[@class="sidebar__section"][h2[contains(text(), "In Season")]]/text()')[1]
    month = sub(r'(In Season)|\W', ' ', string).split()
    return month

In [76]:
month = get_months('carrots')
month

['January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']

##### How to get the product in the first place?

In [77]:
url = 'https://foodwise.org/eat-seasonally/seasonality-charts/?_food_type=vegetable'
response = requests.get(url, headers = headers)
response.raise_for_status()

In [78]:
html = lx.fromstring(response.text) # Parse the HTML
html

In [83]:
produce = html.xpath('//div[@class="card-image-title__text-content"]/h3/text()')
produce

['Artichokes',
 'Arugula',
 'Asparagus',
 'Beets',
 'Bitter melon',
 'Bok choy',
 'Broccoli',
 'Broccoli rabe',
 'Brussels sprouts',
 'Burdock',
 'Cabbage',
 'Cactus pads',
 'Cardoons',
 'Carrots',
 'Cauliflower',
 'Celeriac',
 'Celery',
 'Celtuce',
 'Chard',
 'Chickweed']

In [82]:
[i.text for i in produce]

['Artichokes',
 'Arugula',
 'Asparagus',
 'Beets',
 'Bitter melon',
 'Bok choy',
 'Broccoli',
 'Broccoli rabe',
 'Brussels sprouts',
 'Burdock',
 'Cabbage',
 'Cactus pads',
 'Cardoons',
 'Carrots',
 'Cauliflower',
 'Celeriac',
 'Celery',
 'Celtuce',
 'Chard',
 'Chickweed']

In [84]:
def get_produce(page):
    url = 'https://foodwise.org/eat-seasonally/seasonality-charts/'
    response = requests.get(url, headers = headers, params = {
        '_food_type': 'vegetable',
        '_paged': page
    })
    response.raise_for_status()
    html = lx.fromstring(response.text) # Parse the HTML
    produce = html.xpath('//div[@class="card-image-title__text-content"]/h3/text()')
    return produce

In [86]:
get_produce(2)

['Chicory',
 'Collard greens',
 'Corn',
 'Cress',
 'Cresta di Gallo',
 'Cucumbers',
 'Dandelion greens',
 'Eggplant',
 'Endive',
 'Fava beans',
 'Fava greens',
 'Fennel',
 'Garlic',
 'Ginger root',
 'Green beans',
 'Herbs',
 'Horseradish',
 'Jicama',
 'Kale',
 'Kohlrabi']

In [87]:
produce = [item for sublist in [get_produce(i) for i in range(1,5)] for item in sublist]
produce

['Artichokes',
 'Arugula',
 'Asparagus',
 'Beets',
 'Bitter melon',
 'Bok choy',
 'Broccoli',
 'Broccoli rabe',
 'Brussels sprouts',
 'Burdock',
 'Cabbage',
 'Cactus pads',
 'Cardoons',
 'Carrots',
 'Cauliflower',
 'Celeriac',
 'Celery',
 'Celtuce',
 'Chard',
 'Chickweed',
 'Chicory',
 'Collard greens',
 'Corn',
 'Cress',
 'Cresta di Gallo',
 'Cucumbers',
 'Dandelion greens',
 'Eggplant',
 'Endive',
 'Fava beans',
 'Fava greens',
 'Fennel',
 'Garlic',
 'Ginger root',
 'Green beans',
 'Herbs',
 'Horseradish',
 'Jicama',
 'Kale',
 'Kohlrabi',
 'Komatsuna',
 'Lambsquarters',
 'Leeks',
 'Lettuce',
 'Mushrooms',
 'Mustard greens',
 'Nettles',
 'Okra',
 'Onions',
 'Orach',
 'Parsnips',
 'Pea shoots',
 'Peas',
 'Peppers, chile',
 'Peppers, sweet',
 'Potatoes',
 'Purslane',
 'Radishes',
 'Romanesco',
 'Rutabagas',
 'Salsify',
 'Scallions',
 'Shallots',
 'Shelling beans',
 'Spinach',
 'Sprouts',
 'Squash, summer',
 'Squash, winter',
 'Sunchokes',
 'Sweet potatoes',
 'Taro root',
 'Tatsoi',
 'Tomatillos',
 'Tomatoes',
 'Turnips',
 'Yacon']

##### Iterate over produce items

In [88]:
year = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 
        'October', 'November', 'December']

In [92]:
month = get_months('potatoes')

In [93]:
month

['June', 'July', 'August']

In [94]:
[item in month for item in year]

[False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 False,
 False,
 False]

In [95]:
def assemble_row(produce): 
    months = get_months(produce)
    months = [item in months for item in year]
    months.insert(0, produce)
    return months

In [97]:
assemble_row('apples')

['apples',
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 False]

In [98]:
produce[:10]

['Artichokes',
 'Arugula',
 'Asparagus',
 'Beets',
 'Bitter melon',
 'Bok choy',
 'Broccoli',
 'Broccoli rabe',
 'Brussels sprouts',
 'Burdock']

In [99]:
[assemble_row(i) for i in produce]

IndexError: list index out of range

In [104]:
def get_months(produce): 
    time.sleep(0.05)
    url = "https://foodwise.org/foods/" + produce + "/"
    response = requests.get(url, headers = headers)
    response.raise_for_status()
    html = lx.fromstring(response.text)
    try: 
        string = html.xpath('//section[@class="sidebar__section"][h2[contains(text(), "In Season")]]/text()')[1]
        month = sub(r'(In Season)|\W', ' ', string).split() 
    except:
        month = []
    return month

In [105]:
[assemble_row(i) for i in produce]

HTTPError: 404 Client Error: Not Found for url: https://foodwise.org/foods/Peppers,%20chile/

In [112]:
def get_months(produce): 
    time.sleep(0.05)
    url = "https://foodwise.org/foods/" + produce + "/"
    response = requests.get(url, headers = headers)
    try: response.raise_for_status()
    except requests.HTTPError:
        month = []
        return month 
    else:
        html = lx.fromstring(response.text)
        try: 
            string = html.xpath('//section[@class="sidebar__section"][h2[contains(text(), "In Season")]]/text()')[1]
            month = sub(r'(In Season)|\W', ' ', string).split() 
        except:
            month = []
            return month 
        return month

In [113]:
[assemble_row(i) for i in produce]

[['Artichokes',
  False,
  False,
  True,
  True,
  True,
  True,
  False,
  False,
  True,
  True,
  True,
  True],
 ['Arugula',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Asparagus',
  False,
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Beets',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Bitter melon',
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  False],
 ['Bok choy',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Broccoli',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Broccoli rabe',
  True,
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  True,
  True,
  True,
  True],
 ['Brussels sprouts',
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  True,
  True,
  True,
  True],
 ['Burdock',
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Cabbage',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Cactus pads',
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  False,
  False],
 ['Cardoons',
  True,
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  True,
  True],
 ['Carrots',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Cauliflower',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Celeriac',
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Celery',
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Celtuce',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Chard',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Chickweed',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Chicory',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Collard greens',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Corn',
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  False,
  False],
 ['Cress',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Cresta di Gallo',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Cucumbers',
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  False],
 ['Dandelion greens',
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Eggplant',
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  False,
  False],
 ['Endive',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Fava beans',
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False],
 ['Fava greens',
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Fennel',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Garlic',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Ginger root',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  False],
 ['Green beans',
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  False,
  False,
  False],
 ['Herbs',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Horseradish',
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  False],
 ['Jicama',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True],
 ['Kale',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Kohlrabi',
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True],
 ['Komatsuna',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Lambsquarters',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Leeks',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Lettuce',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Mushrooms',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Mustard greens',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Nettles',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False],
 ['Okra',
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  False],
 ['Onions',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Orach',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Parsnips',
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  True,
  True,
  True],
 ['Pea shoots',
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Peas',
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  False],
 ['Peppers, chile',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Peppers, sweet',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Potatoes',
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  False,
  False,
  False,
  False],
 ['Purslane',
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  False],
 ['Radishes',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Romanesco',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Rutabagas',
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True],
 ['Salsify',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True],
 ['Scallions',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Shallots',
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False],
 ['Shelling beans',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  False,
  False],
 ['Spinach',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Sprouts',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Squash, summer',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Squash, winter',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Sunchokes',
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True],
 ['Sweet potatoes',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True],
 ['Taro root',
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True],
 ['Tatsoi',
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True],
 ['Tomatillos',
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  False],
 ['Tomatoes',
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  False,
  False],
 ['Turnips',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Yacon',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True]]

In [ ]:
def get_months(produce): 
    time.sleep(0.05)
    url = "https://foodwise.org/foods/" + produce + "/"
    response = requests.get(url, headers = headers)
    try: response.raise_for_status()
    except requests.HTTPError:
        return None
    else:
        html = lx.fromstring(response.text)
        try: string = html.xpath('//section[@class="sidebar__section"]')[0].text_content()
        except: print(produce)
        string = html.xpath('//section[@class="sidebar__section"]')[0].text_content()
        month = sub(r'(In Season)|\W', ' ', string).split()
        return month

In [ ]:
def assemble_row(produce): 
    months = get_months(produce)
    try: months = [item in months for item in year]
    except: print(produce)
    months.insert(0, produce)
    return months

In [ ]:
[assemble_row(i) for i in produce]

We have to account for new links.... Retrieve the `href` attribute from the anchor.

In [114]:
url = 'https://foodwise.org/eat-seasonally/seasonality-charts/?_food_type=vegetable&_paged=3' #try page 3,4
response = requests.get(url, headers = headers)
response.raise_for_status()
html = lx.fromstring(response.text) # Parse the HTML
produce = html.xpath('//article[@class="card-image-title__container"]/a/@href') #returns href attribute of anchor link
produce

['https://foodwise.org/foods/komatsuna/',
 'https://foodwise.org/foods/lambsquarters/',
 'https://foodwise.org/foods/leeks/',
 'https://foodwise.org/foods/lettuce/',
 'https://foodwise.org/foods/mushrooms/',
 'https://foodwise.org/foods/mustard-greens/',
 'https://foodwise.org/foods/nettles/',
 'https://foodwise.org/foods/okra/',
 'https://foodwise.org/foods/onions/',
 'https://foodwise.org/foods/orach/',
 'https://foodwise.org/foods/parsnips/',
 'https://foodwise.org/foods/pea-shoots/',
 'https://foodwise.org/foods/peas/',
 'https://foodwise.org/foods/peppers-chile/',
 'https://foodwise.org/foods/peppers-sweet/',
 'https://foodwise.org/foods/potatoes/',
 'https://foodwise.org/foods/purslane/',
 'https://foodwise.org/foods/radishes/',
 'https://foodwise.org/foods/romanesco/',
 'https://foodwise.org/foods/rutabagas/']

In [115]:
def get_url(i):
    url = 'https://foodwise.org/eat-seasonally/seasonality-charts/?_paged=' + str(i)
    response = requests.get(url, headers = headers)
    response.raise_for_status()
    html = lx.fromstring(response.text) # Parse the HTML
    #returns href attribute of anchor link
    produce_link = html.xpath('//article[@class="card-image-title__container"]/a/@href') 
    return produce_link

In [116]:
produce_links = [item for sublist in [get_url(i) for i in range(1,5)] for item in sublist]
produce_links

['https://foodwise.org/foods/agretti/',
 'https://foodwise.org/foods/almonds/',
 'https://foodwise.org/foods/amaranth/',
 'https://foodwise.org/foods/apples/',
 'https://foodwise.org/foods/apricots/',
 'https://foodwise.org/foods/apriums/',
 'https://foodwise.org/foods/artichokes/',
 'https://foodwise.org/foods/arugula/',
 'https://foodwise.org/foods/asian-pears/',
 'https://foodwise.org/foods/asparagus/',
 'https://foodwise.org/foods/avocados/',
 'https://foodwise.org/foods/baked-goods/',
 'https://foodwise.org/foods/bee-products/',
 'https://foodwise.org/foods/beets/',
 'https://foodwise.org/foods/bitter-melon/',
 'https://foodwise.org/foods/blackberries/',
 'https://foodwise.org/foods/blueberries/',
 'https://foodwise.org/foods/bok-choy/',
 'https://foodwise.org/foods/boysenberries/',
 'https://foodwise.org/foods/broccoli/',
 'https://foodwise.org/foods/broccoli-rabe/',
 'https://foodwise.org/foods/brown-rice/',
 'https://foodwise.org/foods/brussels-sprouts/',
 'https://foodwise.org/foods/burdock/',
 'https://foodwise.org/foods/butter/',
 'https://foodwise.org/foods/cabbage/',
 'https://foodwise.org/foods/cactus-pads/',
 'https://foodwise.org/foods/cactus-pears/',
 'https://foodwise.org/foods/cape-gooseberries/',
 'https://foodwise.org/foods/cardoons/',
 'https://foodwise.org/foods/carrots/',
 'https://foodwise.org/foods/cauliflower/',
 'https://foodwise.org/foods/celeriac/',
 'https://foodwise.org/foods/celery/',
 'https://foodwise.org/foods/celtuce/',
 'https://foodwise.org/foods/chard/',
 'https://foodwise.org/foods/cheese/',
 'https://foodwise.org/foods/cherimoyas/',
 'https://foodwise.org/foods/cherries/',
 'https://foodwise.org/foods/chestnuts/',
 'https://foodwise.org/foods/chickweed/',
 'https://foodwise.org/foods/chicory/',
 'https://foodwise.org/foods/citron/',
 'https://foodwise.org/foods/collard-greens/',
 'https://foodwise.org/foods/corn/',
 'https://foodwise.org/foods/creme-fraiche/',
 'https://foodwise.org/foods/cress/',
 'https://foodwise.org/foods/cresta-di-gallo/',
 'https://foodwise.org/foods/cucumbers/',
 'https://foodwise.org/foods/dandelion-greens/',
 'https://foodwise.org/foods/dates/',
 'https://foodwise.org/foods/dried-beans/',
 'https://foodwise.org/foods/dried-fruit-and-vegetables/',
 'https://foodwise.org/foods/eggplant/',
 'https://foodwise.org/foods/eggs/',
 'https://foodwise.org/foods/endive/',
 'https://foodwise.org/foods/fava-beans/',
 'https://foodwise.org/foods/fava-greens/',
 'https://foodwise.org/foods/feijoas/',
 'https://foodwise.org/foods/fennel/',
 'https://foodwise.org/foods/figs/',
 'https://foodwise.org/foods/flowers/',
 'https://foodwise.org/foods/food-craft-products/',
 'https://foodwise.org/foods/garlic/',
 'https://foodwise.org/foods/ginger-root/',
 'https://foodwise.org/foods/grape-leaves/',
 'https://foodwise.org/foods/grapefruit-2/',
 'https://foodwise.org/foods/grapes/',
 'https://foodwise.org/foods/green-beans/',
 'https://foodwise.org/foods/guavas/',
 'https://foodwise.org/foods/herbs/',
 'https://foodwise.org/foods/horseradish/',
 'https://foodwise.org/foods/jicama/',
 'https://foodwise.org/foods/juices/',
 'https://foodwise.org/foods/jujubes/',
 'https://foodwise.org/foods/kale/',
 'https://foodwise.org/foods/kiwi/',
 'https://foodwise.org/foods/kohlrabi/',
 'https://foodwise.org/foods/komatsuna/',
 'https://foodwise.org/foods/kumquats/']

Lets find the (new) produce name from its site.

In [117]:
result = requests.get('https://foodwise.org/foods/peppers-chile/', headers = headers)
result.raise_for_status()

In [118]:
html = lx.fromstring(result.text)

In [121]:
html.xpath("//h1/text()")[0]

'Peppers, chile'

In [133]:
def get_months(produce_link): 
    time.sleep(0.05)
    response = requests.get(produce_link, headers = headers)
    try: response.raise_for_status()
    except requests.HTTPError:
        return [None, []] 
    else:
        html = lx.fromstring(response.text)
        try: 
            string = html.xpath('//section[@class="sidebar__section"][h2[contains(text(), "In Season")]]/text()')[1]
        except:
            return [None, []] 
        else 
            month = sub(r'(In Season)|\W', ' ', string).split() 
            name = html.xpath("//h1/text()")[0]
            return [name, month]

In [134]:
def assemble_row(produce_link): 
    name, months = get_months(produce_link)
    months = [item in months for item in year]
    months.insert(0, name)
    return months

In [135]:
df = [assemble_row(i) for i in produce_links] 
df

[['Agretti',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True],
 ['Almonds',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  False],
 ['Amaranth',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Apples',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  False],
 ['Apricots',
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False],
 ['Apriums',
  False,
  False,
  False,
  False,
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Artichokes',
  False,
  False,
  True,
  True,
  True,
  True,
  False,
  False,
  True,
  True,
  True,
  True],
 ['Arugula',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Asian pears',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  False],
 ['Asparagus',
  False,
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Avocados',
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Baked goods',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Bee products',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Beets',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Bitter melon',
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  False],
 ['Blackberries',
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  False,
  False],
 ['Blueberries',
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False],
 ['Bok choy',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Boysenberries',
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  False,
  False,
  False,
  False,
  False],
 ['Broccoli',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Broccoli rabe',
  True,
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  True,
  True,
  True,
  True],
 ['Brown rice',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Brussels sprouts',
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  True,
  True,
  True,
  True],
 ['Burdock',
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True],
 [None,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Cabbage',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Cactus pads',
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  False,
  False],
 ['Cactus pears',
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  False],
 ['Cape gooseberries',
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  False],
 ['Cardoons',
  True,
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  True,
  True],
 ['Carrots',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Cauliflower',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Celeriac',
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Celery',
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 [None,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Chard',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Cheese',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Cherimoyas',
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  True,
  True],
 ['Cherries',
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False],
 ['Chestnuts',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  False,
  False,
  False],
 [None,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Chicory',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Citron',
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True],
 ['Collard greens',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Corn',
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  False,
  False],
 [None,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Cress',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 [None,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Cucumbers',
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  False],
 ['Dandelion greens',
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Dates',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  False],
 ['Dried beans',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 [None,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Eggplant',
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  False,
  False],
 ['Eggs',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Endive',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Fava beans',
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False],
 ['Fava greens',
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Feijoas',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True],
 ['Fennel',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Figs',
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  False,
  True,
  True,
  False,
  False],
 ['Flowers',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Food craft products',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Garlic',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Ginger root',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  False],
 [None,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Grapefruit',
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True],
 ['Grapes',
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  False],
 ['Green beans',
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  False,
  False,
  False],
 ['Guavas',
  False,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Herbs',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Horseradish',
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  False],
 ['Jicama',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True],
 [None,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Jujubes',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  False,
  False],
 ['Kale',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Kiwi',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True],
 ['Kohlrabi',
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True],
 [None,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Kumquats',
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False]]

In [136]:
import pandas as pd
tbl = pd.DataFrame(df)
tbl.shape

(80, 13)

In [137]:
tbl.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,Agretti,False,False,False,False,False,False,False,False,True,True,True,True
1,Almonds,False,False,False,False,False,False,False,True,True,True,True,False
2,Amaranth,True,True,True,True,True,True,True,True,True,True,True,True
3,Apples,False,False,False,False,False,False,False,True,True,True,True,False
4,Apricots,False,False,False,False,True,True,True,False,False,False,False,False

In [138]:
columnames = year.copy()
columnames.insert(0, 'Produce')
tbl.columns = columnames

In [139]:
tbl

,Produce,January,February,March,April,May,June,July,August,September,October,November,December
0,Agretti,False,False,False,False,False,False,False,False,True,True,True,True
1,Almonds,False,False,False,False,False,False,False,True,True,True,True,False
2,Amaranth,True,True,True,True,True,True,True,True,True,True,True,True
3,Apples,False,False,False,False,False,False,False,True,True,True,True,False
4,Apricots,False,False,False,False,True,True,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Kale,True,True,True,True,True,True,True,True,True,True,True,True
76,Kiwi,False,False,False,False,False,False,False,False,True,True,True,True
77,Kohlrabi,True,True,True,True,False,False,False,False,False,False,True,True
78,None,False,False,False,False,False,False,False,False,False,False,False,False
79,Kumquats,True,True,True,True,False,False,False,False,False,False,False,False

### Tornado Watch 

We are interested in scraping and plotting the locations of all tornado warnings in the last 48 hours.

In [ ]:
import requests
import lxml.html as lx
import time
import pandas as pd

In [ ]:
result = requests.get('https://www.tornadohq.com/')
result.raise_for_status

In [ ]:
html = lx.fromstring(result.text) # Parse the HTML

In [ ]:
warnings = html.xpath('//pre')
warnings

In [ ]:
warning = warnings[0].text
warning

Lets match the latitude-longitude pair after `LAT...LON`.

In [ ]:
from re import findall

In [ ]:
findall('(?<=LAT\.{3}LON\s)(\d+\s\d+)', warning)[0].split()

Rename the coordinates in readable format.

In [ ]:
coord_list = [findall('(?<=LAT\.{3}LON\s)(\d+\s\d+)', warning.text)[0].split() for warning in warnings]

In [ ]:
coord = pd.DataFrame(coord_list)
coord.columns = ['N', 'W']
coord = coord.applymap(lambda x: float(x) / 100) # convert location in readable format
coord['W'] = -coord['W'] # longitude to west is negative
coord.head()

Plot the results (consider a [mapbox token](https://studio.mapbox.com/) to plot.)!

In [ ]:
import plotly.express as px
import geopandas as gpd

px.set_mapbox_access_token(open("./../keys/mapbox.txt").read())
fig = px.scatter_mapbox(coord,
                        lat='N',
                        lon='W',
                        zoom=4)
fig.show()

### Summary 

- Scraping does not necessarily return the desired, make use of error handling 
- Make use of the advantages of devtools to see how the website is structured